@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
    background-image:url(bck.jpg) ;
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
    background-size: cover;
    background-position: center;
}
.Register-Form ::placeholder{
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    font-family: 'Righteous', cursive;
}
.Login-Form ::placeholder{
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
    font-family: 'Righteous', cursive;
}
.Register-Form .sign{
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
    font-family: 'Ubuntu Condensed', sans-serif;
}
.Login-Form .sign{
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
    font-family: 'Ubuntu Condensed', sans-serif;
}
.Register-Form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;

}
.Login-Form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;

}
.Register-Form h1{
    color:salmon;
    margin-bottom: 30px ;
}
.Login-Form h1{
    color:salmon;
    margin-bottom: 30px ;
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign {
    background-color: slategray;
}
a {
    text-decoration: none;

}
hr {
    margin-top: 20px;
    width: 80%;
}
.or {
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img {
    width: 70px;
    margin-top: -50px;
}